@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: Raleway;
}

@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');
.main-middle-part-container {
    font-family: 'Farro', sans-serif;
}

html {
    background-color: snow;
}